@import './_colors.scss';

$bradius: .5em;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%np-button {
  color: #090909;
  padding: 0.6em .8em;
  font-size: 18px;
  border-radius: $bradius;
  background: $bg-primary;
  border: 1px solid $bg-primary;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px $np-primary, -6px -6px 12px $np-secondary;
}

%np-button:hover {
  border: 1px solid white;
}

%np-button:active {
  box-shadow: 4px 4px 12px $np-primary, -4px -4px 12px $np-secondary;
}
